html {
    width: 100%;
    height: 100%;
}
.trigger {
    font-size: 24px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

  }
  
.trigger:hover {
    color: #1890ff;
    justify-content: space-between;
  }
  
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  .site-sidebar {
      background:#131e41;
  }
  .avt {
    margin: 15px
  }