html {
    width: 100%;
    height: 100%;
}

  .site-layout .site-layout-background {
    background: #fff;

  }
  .site-layout .site-layout-background-header {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .sideMenu {
    padding: 50px;
  }
  